*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

header{
    background-color: #FF6900;
    width: 100%;
    position: fixed;
    z-index: 1;
    

}

main{
    
    padding-top: 100px ;
}


a{
    text-decoration: none;
    color: white;
}

/* UTILITY */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-align-items-center{
    align-items: center;
}

.f-space-around{
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}



div img{
    height: 80px;
    padding: 20px 0;
}

i{
    color: white;
    margin: 0 3px;
}

.img-container1{
    width: 500px;
    height: 700px;
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.img-container2{
    width: 500px;
    height: 700px;
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.img-container3{
    width: 500px;
    height: 700px;
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.img-container4{
    width: 500px;
    height: 700px;
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.img-container5{
    width: 500px;
    height: 700px;
    background-image: url('../img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.img-container6{
    width: 500px;
    height: 700px;
    background-image: url('../img/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

.heart-container{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 15px;
}

.heart-container:hover{
    color: red;
    cursor: pointer;
    
}

.discount-container{
    background-color: red;
    width: 50px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    color: white;
    font-weight: bold;
}

.Sostenibilità{
    background-color: green;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 55px;
    color: white;
    font-weight: bold;
}

.Sostenibilità-6{
    background-color: green;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0px;
    color: white;
    font-weight: bold;
}



a:hover{
    text-decoration: underline;
    cursor: pointer;
}

i:hover{
    cursor: pointer;
}

footer{
    background-color: #1A1A1A;
    margin-top: 150px;
}

h3{
    color: white;
}

.f-flex-start{
    justify-content: flex-start;
}

ul li{
    list-style: none;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 15px;
    margin-bottom: 40px;
}

div > h3{
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.img-container1:hover{
    background-image: url('../img/1b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container2:hover{
    background-image: url('../img/2b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container3:hover{
    background-image: url('../img/3b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container4:hover{
    background-image: url('../img/4b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container5:hover{
    background-image: url('../img/5b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container6:hover{
    background-image: url('../img/6b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.category{
    font-weight: bold;
}

.price-red{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}



